html {
    font-family: Arial, sans-serif;
}

.page-wrapper {
    height: 100%;
}

.currency-selector-container {
    position: relative;
    width: 100%;
    max-width: 449px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 7px 7px 4px;
    box-shadow: 3px 3px 3px #D5D5D5;
    border: 1px solid #A3A3A3;
    border-radius: 5px;
}



.currency {
    position: relative;
    float: left;
    width: calc(33.33% - 8px);
    margin: 8px 4px;
    padding: 5px 4px;
    color: #144470;
    background-color: #ECECEC;
    border: 1px solid #A3A3A3;
    font-size: 19px;
    letter-spacing: 0.8px;
}



.selected-currencies {
    margin-top: 9px;
}

.selected-currencies .currency {
    color: #000;
    border: none;
    border-radius: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 8px;
    width: calc(33.33% - 16px);
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.remove-currency {
    position: absolute;
    width: 21px;
    height: 21px;
    right: -8px;
    top: -9px;
    background-color: #333;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    line-height: 1;
    font-size: 14px;
}

.remove-currency:hover {
    background-color: #fff;
    border: 2px solid #333;
    color: #333;
    cursor: pointer;
}



.currency-list {
    margin-top: 12px;
    padding: 4px;
}

.currency-list .currency:hover {
    background-color: #DCDCDC;
    cursor: pointer;
}

.currency-list .currency .checkmark {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 3px 6px 0 0;
    border: 1px solid #A3A3A3;
    border-radius: 3px;
    vertical-align: top;
}

#select-eur:checked ~ .currency-list .currency.select-eur .checkmark:before,
#select-pln:checked ~ .currency-list .currency.select-pln .checkmark:before,
#select-gel:checked ~ .currency-list .currency.select-gel .checkmark:before,
#select-dkk:checked ~ .currency-list .currency.select-dkk .checkmark:before,
#select-czk:checked ~ .currency-list .currency.select-czk .checkmark:before,
#select-gbp:checked ~ .currency-list .currency.select-gbp .checkmark:before,
#select-sek:checked ~ .currency-list .currency.select-sek .checkmark:before,
#select-usd:checked ~ .currency-list .currency.select-usd .checkmark:before,
#select-rub:checked ~ .currency-list .currency.select-rub .checkmark:before {
    content: 'x';
    position: absolute;
    left: 7px;
    top: 3px;
    color: red;
}

input[type="checkbox"] {
    position: absolute;
    z-index: 0;
    opacity: 0;
    pointer-events: none;
}

#select-eur:checked ~ .currency-list .currency.select-eur,
#select-pln:checked ~ .currency-list .currency.select-pln,
#select-gel:checked ~ .currency-list .currency.select-gel,
#select-dkk:checked ~ .currency-list .currency.select-dkk,
#select-czk:checked ~ .currency-list .currency.select-czk,
#select-gbp:checked ~ .currency-list .currency.select-gbp,
#select-sek:checked ~ .currency-list .currency.select-sek,
#select-usd:checked ~ .currency-list .currency.select-usd,
#select-rub:checked ~ .currency-list .currency.select-rub {
    background-color: #fff;
}


.selected-currencies .currency {
    display: none;
}

#select-eur:checked ~ .selected-currencies .eur-selected,
#select-pln:checked ~ .selected-currencies .pln-selected,
#select-gel:checked ~ .selected-currencies .gel-selected,
#select-dkk:checked ~ .selected-currencies .dkk-selected,
#select-czk:checked ~ .selected-currencies .czk-selected,
#select-gbp:checked ~ .selected-currencies .gbp-selected,
#select-sek:checked ~ .selected-currencies .sek-selected,
#select-usd:checked ~ .selected-currencies .usd-selected,
#select-rub:checked ~ .selected-currencies .rub-selected {
    display: block;
}
